/* Personaliza los colores */
.custom-pink {
    background-image: linear-gradient(to right, #E2CFEA, #6247AA, #062726);
  }
  
  .custom-purple {
    background-image: linear-gradient(to right, #6247AA, #062726);
  }
  
  .custom-blue {
    background-image: linear-gradient(to right, #062726);
  }
  