<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700 flex justify-center h-screen">
  <div class="container h-full p-10">
    <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">  
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!-- Logo -->
                <div class="text-center">
                  <img class="mx-auto w-48"
                    src="https://img.freepik.com/vector-gratis/plantilla-logotipo-gimnasio-fitness-ilustracion-barra-vector-diseno-minimalista_53876-154270.jpg?w=740&t=st=1692310887~exp=1692311487~hmac=7a509c84df5e9d86477eecef48bda3f0a2b3e266fc657e683a6c1e13e6621207"
                    alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    We are The Sculpting Team!
                  </h4>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <!-- <p class="mb-4">Please login to your account</p> -->
                  <!-- Email input -->
                  <div class="relative mb-4">
                    <input type="email"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      id="email" placeholder="Email" formControlName="email" style="border: 2px solid white;"/>
                      <label
                      for="exampleFormControlInput1"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Username
                    </label>
                    <p *ngIf="submited && loginForm?.get('email')?.hasError('required')"
                      class="text-xs text-red-500 mt-1">El campo es requerido</p>
                    <p *ngIf="submited && loginForm?.get('email')?.hasError('email')"
                      class="text-xs text-red-500 mt-1">No tiene formato válido</p>
                  </div>

                  <!-- Password input -->
                  <div class="relative mb-4">
                    <input type="password"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      id="password" placeholder="Password" formControlName="password" style="border: 2px solid white;"/>
                      <label
                      for="exampleFormControlInput11"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Password
                    </label>
                    <p *ngIf="submited && loginForm?.get('password')?.hasError('required')"
                      class="text-xs text-red-500 mt-1">El campo es requerido</p>
                  </div>

                  <!-- Submit button -->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                      class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out"
                      type="submit"
                      style="background-image: linear-gradient(to right, #e4e7eb, #f69d0b, #030712);">
                      Log in
                    </button>
                    <a href="#!" class="text-xs">Forgot password?</a>
                  </div>

                  <!-- Register button -->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 mr-2 text-xs">Don't have an account?</p>
                    <a href="/register"
                      class="inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-danger-600 focus:border-danger-600 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                      data-te-ripple-init data-te-ripple-color="light">
                      Register
                  </a>
                  </div>
                </form>
              </div>
            </div>

            <!-- Right column container with background and description -->
            <div
              class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
              style="background: linear-gradient(to right, #e4e7eb, #f69d0b, #030712);">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  We are more than just a company
                </h4>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

