<form [formGroup]="registerForm" (ngSubmit)="registrar()">
    <div>
        <input type="email" placeholder="Email" formControlName="email" />
        <p *ngIf="(submited && registerForm?.get('email')?.hasError('required'))">El campo es requerido</p>
        <p *ngIf="(submited && registerForm?.get('email')?.hasError('pattern'))">No tiene formato valido</p>
    </div>
    <div>
        <input type="password" placeholder="Password" formControlName="password" />
        <p *ngIf="(submited && registerForm?.get('password')?.hasError('required'))">El campo es requerido</p>
        <p *ngIf="(submited && registerForm?.get('password')?.hasError('pattern'))">No tiene formato valido</p>

    </div>
    <button>Resgistrar</button>
</form>
