
<section class="text-gray-600 body-font" *ngFor="let coach of coaches">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="trainer" src={{coach.img}}>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" >{{coach.name}}</h1> 
      <p class="mb-8 leading-relaxed">Years of experience: {{coach.yearsOfExperiencie}} , Age: {{coach.age}}, Courses: {{coach.courses}} </p>
      <div class="flex w-full md:justify-start justify-center items-end">
        <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
          <label for="hero-field" class="leading-7 text-sm text-gray-600">Take information about me!</label>
          <input type="text" id="hero-field" name="hero-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-yellow-200 focus:bg-transparent focus:border-yellow-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg">Request info</button> 
      </div>
      <p class="text-sm mt-2 text-gray-500 mb-8 w-full">More than 50 alumns</p>
      <div class="flex lg:flex-row md:flex-col">
        <button routerLink="/coaches/{{coach._id}}" class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
          <img src="https://cdn-icons-png.flaticon.com/512/990/990060.png" fill="currentColor" class="w-6 h-6" viewBox="0 0 512 512" alt="icon"/>
        
       
          <span class="ml-4 flex items-start flex-col leading-none">
            <span class="text-xs text-gray-600 mb-1" >MORE INFO</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
